<button id="own-avatar-wrapper" hx-swap-oob="outerHTML" type="button" hx-get="/status/picker" hx-target="#status-picker" hx-swap="innerHTML" class="rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500" title="{{ "status-set-status"|t }}" aria-label="{{ "status-set-status"|t }}">
  {% let avatar_user_id = user_id.clone() %}
  {% let avatar_username = username.clone() %}
  {% let avatar_ext = avatar_ext.clone() %}
  {% let avatar_status = status.clone() %}
  {% let avatar_custom_status = custom_status.clone() %}
  {% let avatar_size = "h-8 w-8 text-sm" %}
  {% include "partials/avatar.html" %}
</button>
